.nav-content {
    background-image: url('web_img/menu_top_back.png');
    background-repeat: no-repeat;
}

.hc-offcanvas-nav .nav-content>h2 {
    font-size: 23px;
    font-weight: normal;
    padding: 25px 15px 30px;
    color: #222;
}
